.bg-effect{
    background-image: url('../../images/effectimage.png');
    background-size: contain;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
